.album-pic {
    width: 30%;
    height: auto;
}

@media (max-width: 1024px) {
    .album-pic {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .album-pic {
        width: 80%;
    }
}

.album-info {
    margin: 0 auto;
    max-width: 50%;
}

@media (max-width: 1024px) {
    .album-info {
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .album-info {
        max-width: 90%;
    }
}

.review {
    list-style: none;
    padding: 0;
    margin: 20px;
}


.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-table {
    width: 70%;
    table-layout: fixed;
    margin-bottom: 20px;
}

.review-table td:nth-child(1) {
    width: 50%;
}

.review-table td:nth-child(2) {
    width: 50%;
}

.review-table td {
    vertical-align: top;
}

@media (max-width: 767px) {

    .table-container {
        padding: 10px;
    }

    .review-table {
        width: 90%;
    }
}